body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #BBA36D ;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    padding-left: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 40px 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery img {
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
.hotel-name {
    font-family: 'Sitka Small Semibold', sans-serif; 
}
video {
    width: 200%; /* Ajusta el ancho según el contenedor */
    max-width: 500px; /* Establece un ancho máximo */
    height: auto; /* Mantiene la proporción de aspecto */
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: marquee;
    -webkit-marquee-speed: normal;
    marquee-speed: normal;
}


